<h1> Product Catalogue </h1>
<ul class="products">
  <li *ngFor = "let product of products" (click)="onSelect(product)" [class.selected]="product===selectedProduct"> 
    <span class="badge">
      {{product.productid}}
    </span>
    {{product.product}}
  </li>
</ul>

<div *ngIf="selectedProduct">
  <h2> {{selectedProduct.product | uppercase}} Details </h2>
  <div>
    <span>
      id: 
    </span>
    {{ selectedProduct.productid}} 
  </div>

  <div>
    <span> Product Name: </span>
    {{ selectedProduct.product}} 
  </div>

  <div>
    <span>  Price: </span>
    {{ selectedProduct.productPrice}} 
  </div>

  <div>
      <span>  Quantity: </span>
      {{ selectedProduct.productQty}} 
  </div>
</div>
